
body {
    height: 90vh;
}

body div {
    background-color: #c6c6c6;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

body div h2 {
    padding-bottom: 15px;
    display: block;
    padding-top: 19px;
}

.top_column {
    display: block;
    height: 8vh;
}

.mid_column {
    display: block;
    text-align: center;
    height: 75vh;
}

.bottom_column {
    height: 8vh;
}

.login_form {
    padding-top: 23vh;
    margin: 0 auto;
    width: 50vh;
}

.form_item {
    margin: 20px;
}

a {
    text-decoration: none;
}

table {
    margin: auto;
    padding-top: 200px;
    font-size: 23px;
}

input {
    height: 25px;
    width: 200px;
    margin-top: 10px;
}

.input_button {
    margin-top: 10px;
    width: 208px;
    height: 30px;
}

.td_title {
    padding-top: 10px;
    padding-right: 10px;
}